.blogpost{
    background-color: rgb(240, 240, 255);
    padding: 3% 7% 0 7%;
    margin: 0px;
}

.img{
    border: 2px solid white;
  margin: 50px auto 0px;
  width: 102px;
  height: 135px;
  border-radius: 50%;
  }
@media screen and (min-width:600px){
    .blogpost{
        background-color: rgb(240, 240, 255);
        padding: 3% 20% 0 20%;
        margin: 0px;
    }
}